/NetBeans/MyBatisDaoGenerator/nbproject/private/
/NetBeans/MyBatisPersistence/nbproject/private/
/NetBeans/MyBatisDaoGenerator/build/
/NetBeans/MyBatisPersistence/build/
/NetBeans/SpringWithMybatis/nbproject/private/
/NetBeans/SpringWithMybatis/build/