<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/c
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">


<!--    <bean id="person1" class="com.secondspring.demo.PersonFactory" factory-method="createPerson" ></bean>-->



    <bean id="factory" class="com.secondspring.demo.PersonFactory"></bean>
    <bean id="p2" factory-bean="factory" factory-method="createPerson2"></bean>
<!--    <context:component-scan base-package="com.secondspring.demo" />-->
    <!--    <context:component-scan base-package="com.secondspring.demo" />-->
<!--    <bean id="notepad" class="com.secondspring.demo.Notepad" lazy-init="false" destroy-method="destroy" init-method="init"/>-->
</beans>