<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.mapper.BlogMapper" >
    
    
    <resultMap type="mybatis.pojo.Blog" id="blogResultMap">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="author_id" property="author_id" jdbcType="INTEGER" />
    </resultMap>
    
    
    <select id="selectBlog" parameterType="int" resultType="mybatis.pojo.Blog">
        select * from blog where id = #{id}
    </select>
    
    <delete id = "deleteById" parameterType = "int">
        DELETE from blog WHERE ID = #{id};
    </delete>
    
    <select id="selectByTitle" parameterType="string" resultMap="blogResultMap">
        select * from blog where lower(title) like lower('${title}')
    </select>
    
    <select id="selectBlogByPage" parameterType="string" resultMap="blogResultMap">
        select * from blog limit #{offset}, #{pagesize},#{p1},#{p2} 
    </select>
    
    <insert id="insertBlog" parameterType="mybatis.pojo.Blog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `blog` (`id`,`title`, `author_id`, `state`, `featured`, `style`)
        VALUE (#{id}, #{title}, #{author_id}, #{state}, #{featured}, #{style})
    </insert>
    
    <update id="updateBlog" parameterType="mybatis.pojo.Blog">
        UPDATE `blog`
        SET
        `title` = #{title},
        `author_id` = #{author_id},
        `state` = #{state},
        `featured` = #{featured},
        `style` = #{style}
        WHERE `id` = #{id}
    </update>
    
</mapper>